/* fontisto icon list*/

// Brand
.{$fi-css-prefix}-acrobat-reader:before {content: $fi-acrobat-reader}
.{$fi-css-prefix}-applemusic:before {content: $fi-applemusic}
.{$fi-css-prefix}-atlassian:before {content: $fi-atlassian}
.{$fi-css-prefix}-aws:before {content: $fi-aws}
.{$fi-css-prefix}-baidu:before {content: $fi-baidu}
.{$fi-css-prefix}-bing:before {content: $fi-bing}
.{$fi-css-prefix}-bower:before {content: $fi-bower}
.{$fi-css-prefix}-dailymotion:before {content: $fi-dailymotion}
.{$fi-css-prefix}-delicious:before {content: $fi-delicious}
.{$fi-css-prefix}-deviantart:before {content: $fi-deviantart}
.{$fi-css-prefix}-disqus:before {content: $fi-disqus}
.{$fi-css-prefix}-flipboard:before {content: $fi-flipboard}
.{$fi-css-prefix}-graphql:before {content: $fi-graphql}
.{$fi-css-prefix}-hexo:before {content: $fi-hexo}
.{$fi-css-prefix}-hipchat:before {content: $fi-hipchat}
.{$fi-css-prefix}-icq:before {content: $fi-icq}
.{$fi-css-prefix}-invision:before {content: $fi-invision}
.{$fi-css-prefix}-jekyll:before {content: $fi-jekyll}
.{$fi-css-prefix}-jira:before {content: $fi-jira}
.{$fi-css-prefix}-json:before {content: $fi-json}
.{$fi-css-prefix}-livestream:before {content: $fi-livestream}
.{$fi-css-prefix}-messenger:before {content: $fi-messenger}
.{$fi-css-prefix}-meteor:before {content: $fi-meteor}
.{$fi-css-prefix}-microsoftonenote:before {content: $fi-microsoftonenote}
.{$fi-css-prefix}-mongodb:before {content: $fi-mongodb}
.{$fi-css-prefix}-netflix:before {content: $fi-netflix}
.{$fi-css-prefix}-nginx:before {content: $fi-nginx}
.{$fi-css-prefix}-odnoklassniki:before {content: $fi-odnoklassniki}
.{$fi-css-prefix}-onedrive:before {content: $fi-onedrive}
.{$fi-css-prefix}-origin:before {content: $fi-origin}
.{$fi-css-prefix}-pingdom:before {content: $fi-pingdom}
.{$fi-css-prefix}-rails:before {content: $fi-rails}
.{$fi-css-prefix}-raspberrypi:before {content: $fi-raspberrypi}
.{$fi-css-prefix}-redis:before {content: $fi-redis}
.{$fi-css-prefix}-redux:before {content: $fi-redux}
.{$fi-css-prefix}-saucelabs:before {content: $fi-saucelabs}
.{$fi-css-prefix}-scorp:before {content: $fi-scorp}
.{$fi-css-prefix}-sentry:before {content: $fi-sentry}
.{$fi-css-prefix}-shazam:before {content: $fi-shazam}
.{$fi-css-prefix}-shopify:before {content: $fi-shopify}
.{$fi-css-prefix}-sinaweibo:before {content: $fi-sinaweibo}
.{$fi-css-prefix}-slides:before {content: $fi-slides}
.{$fi-css-prefix}-sublimetext:before {content: $fi-sublimetext}
.{$fi-css-prefix}-swift:before {content: $fi-swift}
.{$fi-css-prefix}-ted:before {content: $fi-ted}
.{$fi-css-prefix}-telegram:before {content: $fi-telegram}
.{$fi-css-prefix}-tesla:before {content: $fi-tesla}
.{$fi-css-prefix}-tinder:before {content: $fi-tinder}
.{$fi-css-prefix}-treehouse:before {content: $fi-treehouse}
.{$fi-css-prefix}-twoo:before {content: $fi-twoo}
.{$fi-css-prefix}-udacity:before {content: $fi-udacity}
.{$fi-css-prefix}-webstorm:before {content: $fi-webstorm}
.{$fi-css-prefix}-wix:before {content: $fi-wix}
.{$fi-css-prefix}-yandex-international:before {content: $fi-yandex-international}
.{$fi-css-prefix}-yandex:before {content: $fi-yandex}
.{$fi-css-prefix}-ember:before {content: $fi-ember}
.{$fi-css-prefix}-cpanel:before {content: $fi-cpanel}
.{$fi-css-prefix}-viber:before {content: $fi-viber}
.{$fi-css-prefix}-deskpro:before {content: $fi-deskpro}
.{$fi-css-prefix}-discord:before {content: $fi-discord}
.{$fi-css-prefix}-discourse:before {content: $fi-discourse}
.{$fi-css-prefix}-adobe:before {content: $fi-adobe}
.{$fi-css-prefix}-algolia:before {content: $fi-algolia}
.{$fi-css-prefix}-atom:before {content: $fi-atom}
.{$fi-css-prefix}-babel:before {content: $fi-babel}
.{$fi-css-prefix}-coffeescript:before {content: $fi-coffeescript}
.{$fi-css-prefix}-electronjs:before {content: $fi-electronjs}
.{$fi-css-prefix}-mysql:before {content: $fi-mysql}
.{$fi-css-prefix}-oracle:before {content: $fi-oracle}
.{$fi-css-prefix}-php:before {content: $fi-php}
.{$fi-css-prefix}-sourcetree:before {content: $fi-sourcetree}
.{$fi-css-prefix}-ubuntu:before {content: $fi-ubuntu}
.{$fi-css-prefix}-unity:before {content: $fi-unity}
.{$fi-css-prefix}-unreal-engine:before {content: $fi-unreal-engine}
.{$fi-css-prefix}-webpack:before {content: $fi-webpack}
.{$fi-css-prefix}-angelist:before {content: $fi-angelist}
.{$fi-css-prefix}-app-store:before {content: $fi-app-store}
.{$fi-css-prefix}-digg:before {content: $fi-digg}
.{$fi-css-prefix}-dockers:before {content: $fi-dockers}
.{$fi-css-prefix}-envato:before {content: $fi-envato}
.{$fi-css-prefix}-gitlab:before {content: $fi-gitlab}
.{$fi-css-prefix}-google-drive:before {content: $fi-google-drive}
.{$fi-css-prefix}-google-play:before {content: $fi-google-play}
.{$fi-css-prefix}-grunt:before {content: $fi-grunt}
.{$fi-css-prefix}-gulp:before {content: $fi-gulp}
.{$fi-css-prefix}-hacker-news:before {content: $fi-hacker-news}
.{$fi-css-prefix}-imdb:before {content: $fi-imdb}
.{$fi-css-prefix}-jenkins:before {content: $fi-jenkins}
.{$fi-css-prefix}-joomla:before {content: $fi-joomla}
.{$fi-css-prefix}-kickstarter:before {content: $fi-kickstarter}
.{$fi-css-prefix}-laravel:before {content: $fi-laravel}
.{$fi-css-prefix}-less:before {content: $fi-less}
.{$fi-css-prefix}-line:before {content: $fi-line}
.{$fi-css-prefix}-npm:before {content: $fi-npm}
.{$fi-css-prefix}-periscope:before {content: $fi-periscope}
.{$fi-css-prefix}-product-hunt:before {content: $fi-product-hunt}
.{$fi-css-prefix}-quora:before {content: $fi-quora}
.{$fi-css-prefix}-skyatlas:before {content: $fi-skyatlas}
.{$fi-css-prefix}-stylus:before {content: $fi-stylus}
.{$fi-css-prefix}-travis:before {content: $fi-travis}
.{$fi-css-prefix}-trello:before {content: $fi-trello}
.{$fi-css-prefix}-uber:before {content: $fi-uber}
.{$fi-css-prefix}-vine:before {content: $fi-vine}
.{$fi-css-prefix}-visual-studio:before {content: $fi-visual-studio}
.{$fi-css-prefix}-vk:before {content: $fi-vk}
.{$fi-css-prefix}-vuejs:before {content: $fi-vuejs}
.{$fi-css-prefix}-microsoft:before {content: $fi-microsoft}
.{$fi-css-prefix}-blogger:before {content: $fi-blogger}
.{$fi-css-prefix}-500px:before {content: $fi-500px}
.{$fi-css-prefix}-amazon:before {content: $fi-amazon}
.{$fi-css-prefix}-ampproject:before {content: $fi-ampproject}
.{$fi-css-prefix}-android:before {content: $fi-android}
.{$fi-css-prefix}-angularjs:before {content: $fi-angularjs}
.{$fi-css-prefix}-apple:before {content: $fi-apple}
.{$fi-css-prefix}-behance:before {content: $fi-behance}
.{$fi-css-prefix}-bitbucket:before {content: $fi-bitbucket}
.{$fi-css-prefix}-bluetooth-b:before {content: $fi-bluetooth-b}
.{$fi-css-prefix}-cloudflare:before {content: $fi-cloudflare}
.{$fi-css-prefix}-codepen:before {content: $fi-codepen}
.{$fi-css-prefix}-css3:before {content: $fi-css3}
.{$fi-css-prefix}-dribbble:before {content: $fi-dribbble}
.{$fi-css-prefix}-dropbox:before {content: $fi-dropbox}
.{$fi-css-prefix}-facebook:before {content: $fi-facebook}
.{$fi-css-prefix}-flickr:before {content: $fi-flickr}
.{$fi-css-prefix}-foursquare:before {content: $fi-foursquare}
.{$fi-css-prefix}-git:before {content: $fi-git}
.{$fi-css-prefix}-github:before {content: $fi-github}
.{$fi-css-prefix}-google-plus:before {content: $fi-google-plus}
.{$fi-css-prefix}-google:before {content: $fi-google}
.{$fi-css-prefix}-hangout:before {content: $fi-hangout}
.{$fi-css-prefix}-houzz:before {content: $fi-houzz}
.{$fi-css-prefix}-html5:before {content: $fi-html5}
.{$fi-css-prefix}-instagram:before {content: $fi-instagram}
.{$fi-css-prefix}-java:before {content: $fi-java}
.{$fi-css-prefix}-jquery:before {content: $fi-jquery}
.{$fi-css-prefix}-jsfiddle:before {content: $fi-jsfiddle}
.{$fi-css-prefix}-linkedin:before {content: $fi-linkedin}
.{$fi-css-prefix}-linux:before {content: $fi-linux}
.{$fi-css-prefix}-magento:before {content: $fi-magento}
.{$fi-css-prefix}-maxcdn:before {content: $fi-maxcdn}
.{$fi-css-prefix}-medium:before {content: $fi-medium}
.{$fi-css-prefix}-meetup:before {content: $fi-meetup}
.{$fi-css-prefix}-nodejs:before {content: $fi-nodejs}
.{$fi-css-prefix}-opencart:before {content: $fi-opencart}
.{$fi-css-prefix}-pinterest:before {content: $fi-pinterest}
.{$fi-css-prefix}-playstation:before {content: $fi-playstation}
.{$fi-css-prefix}-python:before {content: $fi-python}
.{$fi-css-prefix}-react:before {content: $fi-react}
.{$fi-css-prefix}-reddit:before {content: $fi-reddit}
.{$fi-css-prefix}-ruby:before {content: $fi-ruby}
.{$fi-css-prefix}-sass:before {content: $fi-sass}
.{$fi-css-prefix}-skype:before {content: $fi-skype}
.{$fi-css-prefix}-slack:before {content: $fi-slack}
.{$fi-css-prefix}-snapchat:before {content: $fi-snapchat}
.{$fi-css-prefix}-soundcloud:before {content: $fi-soundcloud}
.{$fi-css-prefix}-spotify:before {content: $fi-spotify}
.{$fi-css-prefix}-stack-overflow:before {content: $fi-stack-overflow}
.{$fi-css-prefix}-steam:before {content: $fi-steam}
.{$fi-css-prefix}-stumbleupon:before {content: $fi-stumbleupon}
.{$fi-css-prefix}-svn:before {content: $fi-svn}
.{$fi-css-prefix}-swarm:before {content: $fi-swarm}
.{$fi-css-prefix}-tripadvisor:before {content: $fi-tripadvisor}
.{$fi-css-prefix}-tumblr:before {content: $fi-tumblr}
.{$fi-css-prefix}-twitch:before {content: $fi-twitch}
.{$fi-css-prefix}-twitter:before {content: $fi-twitter}
.{$fi-css-prefix}-vimeo:before {content: $fi-vimeo}
.{$fi-css-prefix}-wetransfer:before {content: $fi-wetransfer}
.{$fi-css-prefix}-whatsapp:before {content: $fi-whatsapp}
.{$fi-css-prefix}-wifi-logo:before {content: $fi-wifi-logo}
.{$fi-css-prefix}-wikipedia:before {content: $fi-wikipedia}
.{$fi-css-prefix}-windows:before {content: $fi-windows}
.{$fi-css-prefix}-wordpress:before {content: $fi-wordpress}
.{$fi-css-prefix}-xbox:before {content: $fi-xbox}
.{$fi-css-prefix}-yahoo:before {content: $fi-yahoo}
.{$fi-css-prefix}-yelp:before {content: $fi-yelp}
.{$fi-css-prefix}-youtube-play:before {content: $fi-youtube-play}
.{$fi-css-prefix}-cocoapods:before {content: $fi-cocoapods}
.{$fi-css-prefix}-composer:before {content: $fi-composer}
.{$fi-css-prefix}-yarn:before {content: $fi-yarn}



// interfaces
.{$fi-css-prefix}-language:before {content: $fi-language}
.{$fi-css-prefix}-toggle-off:before {content: $fi-toggle-off}
.{$fi-css-prefix}-toggle-on:before {content: $fi-toggle-on}
.{$fi-css-prefix}-anchor:before {content: $fi-anchor}
.{$fi-css-prefix}-archive:before {content: $fi-archive}
.{$fi-css-prefix}-at:before {content: $fi-at}
.{$fi-css-prefix}-ban:before {content: $fi-ban}
.{$fi-css-prefix}-battery-half:before {content: $fi-battery-half}
.{$fi-css-prefix}-battery-full:before {content: $fi-battery-full}
.{$fi-css-prefix}-battery-empty:before {content: $fi-battery-empty}
.{$fi-css-prefix}-battery-quarter:before {content: $fi-battery-quarter}
.{$fi-css-prefix}-battery-three-quarters:before {content: $fi-battery-three-quarters}
.{$fi-css-prefix}-bell-alt:before {content: $fi-bell-alt}
.{$fi-css-prefix}-bell:before {content: $fi-bell}
.{$fi-css-prefix}-bookmark-alt:before {content: $fi-bookmark-alt}
.{$fi-css-prefix}-bookmark:before {content: $fi-bookmark}
.{$fi-css-prefix}-bug:before {content: $fi-bug}
.{$fi-css-prefix}-calculator:before {content: $fi-calculator}
.{$fi-css-prefix}-calendar:before {content: $fi-calendar}
.{$fi-css-prefix}-crosshairs:before {content: $fi-crosshairs}
.{$fi-css-prefix}-desktop:before {content: $fi-desktop}
.{$fi-css-prefix}-download:before {content: $fi-download}
.{$fi-css-prefix}-film:before {content: $fi-film}
.{$fi-css-prefix}-history:before {content: $fi-history}
.{$fi-css-prefix}-hourglass-end:before {content: $fi-hourglass-end}
.{$fi-css-prefix}-hourglass-half:before {content: $fi-hourglass-half}
.{$fi-css-prefix}-hourglass-start:before {content: $fi-hourglass-start}
.{$fi-css-prefix}-hourglass:before {content: $fi-hourglass}
.{$fi-css-prefix}-info:before {content: $fi-info}
.{$fi-css-prefix}-key:before {content: $fi-key}
.{$fi-css-prefix}-keyboard:before {content: $fi-keyboard}
.{$fi-css-prefix}-laptop:before {content: $fi-laptop}
.{$fi-css-prefix}-lightbulb:before {content: $fi-lightbulb}
.{$fi-css-prefix}-magnet:before {content: $fi-magnet}
.{$fi-css-prefix}-map-marker-alt:before {content: $fi-map-marker-alt}
.{$fi-css-prefix}-map-marker:before {content: $fi-map-marker}
.{$fi-css-prefix}-map:before {content: $fi-map}
.{$fi-css-prefix}-mobile-alt:before {content: $fi-mobile-alt}
.{$fi-css-prefix}-mobile:before {content: $fi-mobile}
.{$fi-css-prefix}-paw:before {content: $fi-paw}
.{$fi-css-prefix}-phone:before {content: $fi-phone}
.{$fi-css-prefix}-power:before {content: $fi-power}
.{$fi-css-prefix}-qrcode:before {content: $fi-qrcode}
.{$fi-css-prefix}-question:before {content: $fi-question}
.{$fi-css-prefix}-search:before {content: $fi-search}
.{$fi-css-prefix}-sitemap:before {content: $fi-sitemap}
.{$fi-css-prefix}-star-half:before {content: $fi-star-half}
.{$fi-css-prefix}-stopwatch:before {content: $fi-stopwatch}
.{$fi-css-prefix}-tablet-alt:before {content: $fi-tablet-alt}
.{$fi-css-prefix}-tablet:before {content: $fi-tablet}
.{$fi-css-prefix}-ticket:before {content: $fi-ticket}
.{$fi-css-prefix}-tv:before {content: $fi-tv}
.{$fi-css-prefix}-upload:before {content: $fi-upload}
.{$fi-css-prefix}-user-secret:before {content: $fi-user-secret}

.{$fi-css-prefix}-camera:before {content: $fi-camera}
.{$fi-css-prefix}-clock:before {content: $fi-clock}
.{$fi-css-prefix}-close-a:before {content: $fi-close-a}
.{$fi-css-prefix}-code:before {content: $fi-code}
.{$fi-css-prefix}-comment:before {content: $fi-comment}
.{$fi-css-prefix}-commenting:before {content: $fi-commenting}
.{$fi-css-prefix}-comments:before {content: $fi-comments}
.{$fi-css-prefix}-crop:before {content: $fi-crop}
.{$fi-css-prefix}-cursor:before {content: $fi-cursor}
.{$fi-css-prefix}-database:before {content: $fi-database}
.{$fi-css-prefix}-date:before {content: $fi-date}
.{$fi-css-prefix}-earth:before {content: $fi-earth}
.{$fi-css-prefix}-email:before {content: $fi-email}
.{$fi-css-prefix}-eye:before {content: $fi-eye}
.{$fi-css-prefix}-female:before {content: $fi-female}
.{$fi-css-prefix}-favorite:before {content: $fi-favorite}
.{$fi-css-prefix}-filter:before {content: $fi-filter}
.{$fi-css-prefix}-fire:before {content: $fi-fire}
.{$fi-css-prefix}-flag:before {content: $fi-flag}
.{$fi-css-prefix}-flash:before {content: $fi-flash}
.{$fi-css-prefix}-home:before {content: $fi-home}
.{$fi-css-prefix}-link:before {content: $fi-link}
.{$fi-css-prefix}-locked:before {content: $fi-locked}
.{$fi-css-prefix}-male:before {content: $fi-male}
.{$fi-css-prefix}-minus-a:before {content: $fi-minus-a}
.{$fi-css-prefix}-more-v-a:before {content: $fi-more-v-a}
.{$fi-css-prefix}-more-v:before {content: $fi-more-v}
.{$fi-css-prefix}-move-h-a:before {content: $fi-move-h-a}
.{$fi-css-prefix}-move-h:before {content: $fi-move-h}
.{$fi-css-prefix}-nav-icon-a:before {content: $fi-nav-icon-a}
.{$fi-css-prefix}-nav-icon-grid-a:before {content: $fi-nav-icon-grid-a}
.{$fi-css-prefix}-nav-icon-grid:before {content: $fi-nav-icon-grid}
.{$fi-css-prefix}-nav-icon-list-a:before {content: $fi-nav-icon-list-a}
.{$fi-css-prefix}-nav-icon-list:before {content: $fi-nav-icon-list}
.{$fi-css-prefix}-nav-icon:before {content: $fi-nav-icon}
.{$fi-css-prefix}-navigate:before {content: $fi-navigate}
.{$fi-css-prefix}-paper-plane:before {content: $fi-paper-plane}
.{$fi-css-prefix}-person:before {content: $fi-person}
.{$fi-css-prefix}-persons:before {content: $fi-persons}
.{$fi-css-prefix}-picture:before {content: $fi-picture}
.{$fi-css-prefix}-plus-a:before {content: $fi-plus-a}
.{$fi-css-prefix}-print:before {content: $fi-print}
.{$fi-css-prefix}-quote-a-left:before {content: $fi-quote-a-left}
.{$fi-css-prefix}-quote-a-right:before {content: $fi-quote-a-right}
.{$fi-css-prefix}-quote-left:before {content: $fi-quote-left}
.{$fi-css-prefix}-quote-right:before {content: $fi-quote-right}
.{$fi-css-prefix}-reply:before {content: $fi-reply}
.{$fi-css-prefix}-rss:before {content: $fi-rss}
.{$fi-css-prefix}-scissors:before {content: $fi-scissors}
.{$fi-css-prefix}-share-a:before {content: $fi-share-a}
.{$fi-css-prefix}-share:before {content: $fi-share}
.{$fi-css-prefix}-trash:before {content: $fi-trash}
.{$fi-css-prefix}-unlocked:before {content: $fi-unlocked}
.{$fi-css-prefix}-usb:before {content: $fi-usb}
.{$fi-css-prefix}-wifi:before {content: $fi-wifi}
.{$fi-css-prefix}-world-o:before {content: $fi-world-o}
.{$fi-css-prefix}-world:before {content: $fi-world}
.{$fi-css-prefix}-zoom:before {content: $fi-zoom}
.{$fi-css-prefix}-adjust:before {content: $fi-adjust}
.{$fi-css-prefix}-recycle:before {content: $fi-recycle}
.{$fi-css-prefix}-pinboard:before {content: $fi-pinboard}
.{$fi-css-prefix}-zoom-minus:before {content: $fi-zoom-minus}
.{$fi-css-prefix}-zoom-plus:before {content: $fi-zoom-plus}
.{$fi-css-prefix}-check:before {content: $fi-check}
.{$fi-css-prefix}-asterisk:before {content: $fi-asterisk}
.{$fi-css-prefix}-hashtag:before {content: $fi-hashtag}


// Shopping
.{$fi-css-prefix}-shopping-bag-1:before {content: $fi-shopping-bag-1}
.{$fi-css-prefix}-shopping-bag:before {content: $fi-shopping-bag}
.{$fi-css-prefix}-shopping-barcode:before {content: $fi-shopping-barcode}
.{$fi-css-prefix}-shopping-basket-add:before {content: $fi-shopping-basket-add}
.{$fi-css-prefix}-shopping-basket-remove:before {content: $fi-shopping-basket-remove}
.{$fi-css-prefix}-shopping-basket:before {content: $fi-shopping-basket}
.{$fi-css-prefix}-shopping-package:before {content: $fi-shopping-package}
.{$fi-css-prefix}-shopping-pos-machine:before {content: $fi-shopping-pos-machine}
.{$fi-css-prefix}-shopping-sale:before {content: $fi-shopping-sale}
.{$fi-css-prefix}-shopping-store:before {content: $fi-shopping-store}


// Arrows
.{$fi-css-prefix}-angle-dobule-down:before {content: $fi-angle-dobule-down}
.{$fi-css-prefix}-angle-dobule-left:before {content: $fi-angle-dobule-left}
.{$fi-css-prefix}-angle-dobule-right:before {content: $fi-angle-dobule-right}
.{$fi-css-prefix}-angle-dobule-up:before {content: $fi-angle-dobule-up}
.{$fi-css-prefix}-angle-down:before {content: $fi-angle-down}
.{$fi-css-prefix}-angle-left:before {content: $fi-angle-left}
.{$fi-css-prefix}-angle-right:before {content: $fi-angle-right}
.{$fi-css-prefix}-angle-up:before {content: $fi-angle-up}
.{$fi-css-prefix}-arrow-down-l:before {content: $fi-arrow-down-l}
.{$fi-css-prefix}-arrow-down:before {content: $fi-arrow-down}
.{$fi-css-prefix}-arrow-expand:before {content: $fi-arrow-expand}
.{$fi-css-prefix}-arrow-h:before {content: $fi-arrow-h}
.{$fi-css-prefix}-arrow-left-l:before {content: $fi-arrow-left-l}
.{$fi-css-prefix}-arrow-left:before {content: $fi-arrow-left}
.{$fi-css-prefix}-arrow-move:before {content: $fi-arrow-move}
.{$fi-css-prefix}-arrow-resize:before {content: $fi-arrow-resize}
.{$fi-css-prefix}-arrow-return-left:before {content: $fi-arrow-return-left}
.{$fi-css-prefix}-arrow-return-right:before {content: $fi-arrow-return-right}
.{$fi-css-prefix}-arrow-right-l:before {content: $fi-arrow-right-l}
.{$fi-css-prefix}-arrow-right:before {content: $fi-arrow-right}
.{$fi-css-prefix}-arrow-swap:before {content: $fi-arrow-swap}
.{$fi-css-prefix}-arrow-up-l:before {content: $fi-arrow-up-l}
.{$fi-css-prefix}-arrow-up:before {content: $fi-arrow-up}
.{$fi-css-prefix}-arrow-v:before {content: $fi-arrow-v}
.{$fi-css-prefix}-caret-down:before {content: $fi-caret-down}
.{$fi-css-prefix}-caret-left:before {content: $fi-caret-left}
.{$fi-css-prefix}-caret-right:before {content: $fi-caret-right}
.{$fi-css-prefix}-caret-up:before {content: $fi-caret-up}
.{$fi-css-prefix}-fi:before {content: $fi-fi}
.{$fi-css-prefix}-fontisto:before {content: $fi-fontisto}


// Form Control
.{$fi-css-prefix}-checkbox-active:before {content: $fi-checkbox-active}
.{$fi-css-prefix}-checkbox-passive:before {content: $fi-checkbox-passive}
.{$fi-css-prefix}-radio-btn-active:before {content: $fi-radio-btn-active}
.{$fi-css-prefix}-radio-btn-passive:before {content: $fi-radio-btn-passive}


// Hand
.{$fi-css-prefix}-dislike:before {content: $fi-dislike}
.{$fi-css-prefix}-like:before {content: $fi-like}


// Accessibility
.{$fi-css-prefix}-audio-description:before {content: $fi-audio-description}
.{$fi-css-prefix}-blind:before {content: $fi-blind}
.{$fi-css-prefix}-braille:before {content: $fi-braille}
.{$fi-css-prefix}-deaf:before {content: $fi-deaf}
.{$fi-css-prefix}-fa-american-sign-language-interpreting:before {content: $fi-fa-american-sign-language-interpreting}
.{$fi-css-prefix}-low-vision:before {content: $fi-low-vision}
.{$fi-css-prefix}-tty:before {content: $fi-tty}
.{$fi-css-prefix}-universal-acces:before {content: $fi-universal-acces}
.{$fi-css-prefix}-wheelchair:before {content: $fi-wheelchair}


// Chart
.{$fi-css-prefix}-area-chart:before {content: $fi-area-chart}
.{$fi-css-prefix}-bar-chart:before {content: $fi-bar-chart}
.{$fi-css-prefix}-line-chart:before {content: $fi-line-chart}
.{$fi-css-prefix}-pie-chart-1:before {content: $fi-pie-chart-1}
.{$fi-css-prefix}-pie-chart-2:before {content: $fi-pie-chart-2}


// Browser
.{$fi-css-prefix}-chrome:before {content: $fi-chrome}
.{$fi-css-prefix}-edge:before {content: $fi-edge}
.{$fi-css-prefix}-firefox:before {content: $fi-firefox}
.{$fi-css-prefix}-internet-explorer:before {content: $fi-internet-explorer}
.{$fi-css-prefix}-opera:before {content: $fi-opera}
.{$fi-css-prefix}-safari:before {content: $fi-safari}


// Currency
.{$fi-css-prefix}-bitcoin:before {content: $fi-bitcoin}
.{$fi-css-prefix}-dollar:before {content: $fi-dollar}
.{$fi-css-prefix}-euro:before {content: $fi-euro}
.{$fi-css-prefix}-gbp:before {content: $fi-gbp}
.{$fi-css-prefix}-gg:before {content: $fi-gg}
.{$fi-css-prefix}-ils:before {content: $fi-ils}
.{$fi-css-prefix}-inr:before {content: $fi-inr}
.{$fi-css-prefix}-krw:before {content: $fi-krw}
.{$fi-css-prefix}-rouble:before {content: $fi-rouble}
.{$fi-css-prefix}-tl:before {content: $fi-tl}
.{$fi-css-prefix}-yen:before {content: $fi-yen}


// Gender
.{$fi-css-prefix}-genderless:before {content: $fi-genderless}
.{$fi-css-prefix}-intersex:before {content: $fi-intersex}
.{$fi-css-prefix}-mars-double:before {content: $fi-mars-double}
.{$fi-css-prefix}-mars-stroke-h:before {content: $fi-mars-stroke-h}
.{$fi-css-prefix}-mars-stroke-v:before {content: $fi-mars-stroke-v}
.{$fi-css-prefix}-mars-stroke:before {content: $fi-mars-stroke}
.{$fi-css-prefix}-mars:before {content: $fi-mars}
.{$fi-css-prefix}-mercury:before {content: $fi-mercury}
.{$fi-css-prefix}-neuter:before {content: $fi-neuter}
.{$fi-css-prefix}-transgender-alt:before {content: $fi-transgender-alt}
.{$fi-css-prefix}-transgender:before {content: $fi-transgender}
.{$fi-css-prefix}-venus-double:before {content: $fi-venus-double}
.{$fi-css-prefix}-venus-mars:before {content: $fi-venus-mars}
.{$fi-css-prefix}-venus:before {content: $fi-venus}


// Payment
.{$fi-css-prefix}-american-express:before {content: $fi-american-express}
.{$fi-css-prefix}-credit-card:before {content: $fi-credit-card}
.{$fi-css-prefix}-google-wallet:before {content: $fi-google-wallet}
.{$fi-css-prefix}-iyzigo:before {content: $fi-iyzigo}
.{$fi-css-prefix}-mastercard:before {content: $fi-mastercard}
.{$fi-css-prefix}-paypal-p:before {content: $fi-paypal-p}
.{$fi-css-prefix}-paypal:before {content: $fi-paypal}
.{$fi-css-prefix}-payu:before {content: $fi-payu}
.{$fi-css-prefix}-troy:before {content: $fi-troy}
.{$fi-css-prefix}-visa:before {content: $fi-visa}
.{$fi-css-prefix}-dinners-club:before {content: $fi-dinners-club}
.{$fi-css-prefix}-apple-pay:before {content: $fi-apple-pay}
.{$fi-css-prefix}-discover:before {content: $fi-discover}
.{$fi-css-prefix}-jcb:before {content: $fi-jcb}


// Player
.{$fi-css-prefix}-backward:before {content: $fi-backward}
.{$fi-css-prefix}-eject:before {content: $fi-eject}
.{$fi-css-prefix}-equalizer:before {content: $fi-equalizer}
.{$fi-css-prefix}-forward:before {content: $fi-forward}
.{$fi-css-prefix}-headphone:before {content: $fi-headphone}
.{$fi-css-prefix}-heart:before {content: $fi-heart}
.{$fi-css-prefix}-mic:before {content: $fi-mic}
.{$fi-css-prefix}-music-note:before {content: $fi-music-note}
.{$fi-css-prefix}-pause:before {content: $fi-pause}
.{$fi-css-prefix}-play-list:before {content: $fi-play-list}
.{$fi-css-prefix}-play:before {content: $fi-play}
.{$fi-css-prefix}-player-settings:before {content: $fi-player-settings}
.{$fi-css-prefix}-podcast:before {content: $fi-podcast}
.{$fi-css-prefix}-random:before {content: $fi-random}
.{$fi-css-prefix}-record:before {content: $fi-record}
.{$fi-css-prefix}-star:before {content: $fi-star}
.{$fi-css-prefix}-step-backwrad:before {content: $fi-step-backwrad}
.{$fi-css-prefix}-step-forward:before {content: $fi-step-forward}
.{$fi-css-prefix}-stop:before {content: $fi-stop}
.{$fi-css-prefix}-volume-down:before {content: $fi-volume-down}
.{$fi-css-prefix}-volume-mute:before {content: $fi-volume-mute}
.{$fi-css-prefix}-volume-off:before {content: $fi-volume-off}
.{$fi-css-prefix}-volume-up:before {content: $fi-volume-up}
.{$fi-css-prefix}-airplay:before {content: $fi-airplay}


// Transportation
.{$fi-css-prefix}-automobile:before {content: $fi-automobile}
.{$fi-css-prefix}-bicycle:before {content: $fi-bicycle}
.{$fi-css-prefix}-bus:before {content: $fi-bus}
.{$fi-css-prefix}-car:before {content: $fi-car}
.{$fi-css-prefix}-helicopter:before {content: $fi-helicopter}
.{$fi-css-prefix}-metro:before {content: $fi-metro}
.{$fi-css-prefix}-motorcycle:before {content: $fi-motorcycle}
.{$fi-css-prefix}-plane:before {content: $fi-plane}
.{$fi-css-prefix}-rocket:before {content: $fi-rocket}
.{$fi-css-prefix}-ship:before {content: $fi-ship}
.{$fi-css-prefix}-subway:before {content: $fi-subway}
.{$fi-css-prefix}-taxi:before {content: $fi-taxi}
.{$fi-css-prefix}-train:before {content: $fi-train}
.{$fi-css-prefix}-truck:before {content: $fi-truck}
.{$fi-css-prefix}-yacht:before {content: $fi-yacht}


// Travel
.{$fi-css-prefix}-beach-slipper:before {content: $fi-beach-slipper}
.{$fi-css-prefix}-bus-ticket:before {content: $fi-bus-ticket}
.{$fi-css-prefix}-cocktail:before {content: $fi-cocktail}
.{$fi-css-prefix}-compass-alt:before {content: $fi-compass-alt}
.{$fi-css-prefix}-direction-sign:before {content: $fi-direction-sign}
.{$fi-css-prefix}-do-not-disturb:before {content: $fi-do-not-disturb}
.{$fi-css-prefix}-flotation-ring:before {content: $fi-flotation-ring}
.{$fi-css-prefix}-holiday-village:before {content: $fi-holiday-village}
.{$fi-css-prefix}-hot-air-balloon:before {content: $fi-hot-air-balloon}
.{$fi-css-prefix}-hotel-alt:before {content: $fi-hotel-alt}
.{$fi-css-prefix}-hotel:before {content: $fi-hotel}
.{$fi-css-prefix}-island:before {content: $fi-island}
.{$fi-css-prefix}-money-symbol:before {content: $fi-money-symbol}
.{$fi-css-prefix}-parasol:before {content: $fi-parasol}
.{$fi-css-prefix}-passport-alt:before {content: $fi-passport-alt}
.{$fi-css-prefix}-passport:before {content: $fi-passport}
.{$fi-css-prefix}-photograph:before {content: $fi-photograph}
.{$fi-css-prefix}-plane-ticket:before {content: $fi-plane-ticket}
.{$fi-css-prefix}-room:before {content: $fi-room}
.{$fi-css-prefix}-sait-boat:before {content: $fi-sait-boat}
.{$fi-css-prefix}-snorkel:before {content: $fi-snorkel}
.{$fi-css-prefix}-suitcase-alt:before {content: $fi-suitcase-alt}
.{$fi-css-prefix}-suitcase:before {content: $fi-suitcase}
.{$fi-css-prefix}-sun:before {content: $fi-sun}
.{$fi-css-prefix}-sunglasses-alt:before {content: $fi-sunglasses-alt}
.{$fi-css-prefix}-swimsuit:before {content: $fi-swimsuit}
.{$fi-css-prefix}-tent:before {content: $fi-tent}
.{$fi-css-prefix}-ticket-alt:before {content: $fi-icket-alt}
.{$fi-css-prefix}-train-ticket:before {content: $fi-train-ticket}
.{$fi-css-prefix}-wallet:before {content: $fi-wallet}


// Spinner
.{$fi-css-prefix}-circle-o-notch:before {content: $fi-circle-o-notch}
.{$fi-css-prefix}-propeller-1:before {content: $fi-propeller-1}
.{$fi-css-prefix}-propeller-2:before {content: $fi-propeller-2}
.{$fi-css-prefix}-propeller-3:before {content: $fi-propeller-3}
.{$fi-css-prefix}-propeller-4:before {content: $fi-propeller-4}
.{$fi-css-prefix}-spinner-cog:before {content: $fi-spinner-cog}
.{$fi-css-prefix}-spinner-fidget:before {content: $fi-spinner-fidget}
.{$fi-css-prefix}-spinner-refresh:before {content: $fi-spinner-refresh}
.{$fi-css-prefix}-spinner-rotate-forward:before {content: $fi-spinner-rotate-forward}
.{$fi-css-prefix}-spinner:before {content: $fi-spinner}


// Editors
.{$fi-css-prefix}-bold:before {content: $fi-bold}
.{$fi-css-prefix}-broken-link:before {content: $fi-broken-link}
.{$fi-css-prefix}-center-align:before {content: $fi-center-align}
.{$fi-css-prefix}-close:before {content: $fi-close}
.{$fi-css-prefix}-columns:before {content: $fi-columns}
.{$fi-css-prefix}-copy:before {content: $fi-copy}
.{$fi-css-prefix}-eraser:before {content: $fi-eraser}
.{$fi-css-prefix}-export:before {content: $fi-export}
.{$fi-css-prefix}-file-1:before {content: $fi-file-1}
.{$fi-css-prefix}-file-2:before {content: $fi-file-2}
.{$fi-css-prefix}-folder:before {content: $fi-folder}
.{$fi-css-prefix}-font:before {content: $fi-font}
.{$fi-css-prefix}-import:before {content: $fi-import}
.{$fi-css-prefix}-indent:before {content: $fi-indent}
.{$fi-css-prefix}-italic:before {content: $fi-italic}
.{$fi-css-prefix}-justify:before {content: $fi-justify}
.{$fi-css-prefix}-left-align:before {content: $fi-left-align}
.{$fi-css-prefix}-link2:before {content: $fi-link2}
.{$fi-css-prefix}-list-1:before {content: $fi-list-1}
.{$fi-css-prefix}-list-2:before {content: $fi-list-2}
.{$fi-css-prefix}-outdent:before {content: $fi-outdent}
.{$fi-css-prefix}-paperclip:before {content: $fi-paperclip}
.{$fi-css-prefix}-paragraph:before {content: $fi-paragraph}
.{$fi-css-prefix}-paste:before {content: $fi-paste}
.{$fi-css-prefix}-preview:before {content: $fi-preview}
.{$fi-css-prefix}-print2:before {content: $fi-print2}
.{$fi-css-prefix}-redo:before {content: $fi-redo}
.{$fi-css-prefix}-right-align:before {content: $fi-right-align}
.{$fi-css-prefix}-save-1:before {content: $fi-save-1}
.{$fi-css-prefix}-save:before {content: $fi-save}
.{$fi-css-prefix}-scissors2:before {content: $fi-scissors2}
.{$fi-css-prefix}-strikethrough:before {content: $fi-strikethrough}
.{$fi-css-prefix}-subscript:before {content: $fi-subscript}
.{$fi-css-prefix}-superscript:before {content: $fi-superscript}
.{$fi-css-prefix}-table-1:before {content: $fi-table-1}
.{$fi-css-prefix}-table-2:before {content: $fi-table-2}
.{$fi-css-prefix}-text-height:before {content: $fi-text-height}
.{$fi-css-prefix}-text-width:before {content: $fi-text-width}
.{$fi-css-prefix}-underline:before {content: $fi-underline}
.{$fi-css-prefix}-undo:before {content: $fi-undo}


// Weather
.{$fi-css-prefix}-cloud-down:before {content: $fi-cloud-down}
.{$fi-css-prefix}-cloud-refresh:before {content: $fi-cloud-refresh}
.{$fi-css-prefix}-cloud-up:before {content: $fi-cloud-up}
.{$fi-css-prefix}-cloudy-gusts:before {content: $fi-cloudy-gusts}
.{$fi-css-prefix}-cloudy:before {content: $fi-cloudy}
.{$fi-css-prefix}-compass:before {content: $fi-compass}
.{$fi-css-prefix}-day-cloudy:before {content: $fi-day-cloudy}
.{$fi-css-prefix}-day-haze:before {content: $fi-day-haze}
.{$fi-css-prefix}-day-lightning:before {content: $fi-day-lightning}
.{$fi-css-prefix}-day-rain:before {content: $fi-day-rain}
.{$fi-css-prefix}-day-snow:before {content: $fi-day-snow}
.{$fi-css-prefix}-day-sunny:before {content: $fi-day-sunny}
.{$fi-css-prefix}-fog:before {content: $fi-fog}
.{$fi-css-prefix}-horizon-alt:before {content: $fi-horizon-alt}
.{$fi-css-prefix}-horizon:before {content: $fi-horizon}
.{$fi-css-prefix}-lightning:before {content: $fi-lightning}
.{$fi-css-prefix}-lightnings:before {content: $fi-lightnings}
.{$fi-css-prefix}-night-alt-cloudy:before {content: $fi-night-alt-cloudy}
.{$fi-css-prefix}-night-alt-lightning:before {content: $fi-night-alt-lightning}
.{$fi-css-prefix}-night-alt-rain:before {content: $fi-night-alt-rain}
.{$fi-css-prefix}-night-alt-snow:before {content: $fi-night-alt-snow}
.{$fi-css-prefix}-night-clear:before {content: $fi-night-clear}
.{$fi-css-prefix}-rain:before {content: $fi-rain}
.{$fi-css-prefix}-rainbow:before {content: $fi-rainbow}
.{$fi-css-prefix}-rains:before {content: $fi-rains}
.{$fi-css-prefix}-snow:before {content: $fi-snow}
.{$fi-css-prefix}-snows:before {content: $fi-snows}
.{$fi-css-prefix}-thermometer:before {content: $fi-thermometer}
.{$fi-css-prefix}-umbrella:before {content: $fi-umbrella}
.{$fi-css-prefix}-wind:before {content: $fi-wind}


// Emoji
.{$fi-css-prefix}-confused:before {content: $fi-confused}
.{$fi-css-prefix}-dizzy:before {content: $fi-dizzy}
.{$fi-css-prefix}-expressionless:before {content: $fi-expressionless}
.{$fi-css-prefix}-frowning:before {content: $fi-frowning}
.{$fi-css-prefix}-heart-eyes:before {content: $fi-heart-eyes}
.{$fi-css-prefix}-laughing:before {content: $fi-laughing}
.{$fi-css-prefix}-mad:before {content: $fi-mad}
.{$fi-css-prefix}-nervous:before {content: $fi-nervous}
.{$fi-css-prefix}-neutral:before {content: $fi-neutral}
.{$fi-css-prefix}-open-mouth:before {content: $fi-open-mouth}
.{$fi-css-prefix}-rage:before {content: $fi-rage}
.{$fi-css-prefix}-slightly-smile:before {content: $fi-slightly-smile}
.{$fi-css-prefix}-smiley:before {content: $fi-smiley}
.{$fi-css-prefix}-smiling:before {content: $fi-smiling}
.{$fi-css-prefix}-stuck-out-tongue:before {content: $fi-stuck-out-tongue}
.{$fi-css-prefix}-sunglasses:before {content: $fi-sunglasses}
.{$fi-css-prefix}-surprised:before {content: $fi-surprised}
.{$fi-css-prefix}-tongue:before {content: $fi-tongue}
.{$fi-css-prefix}-wink:before {content: $fi-wink}
.{$fi-css-prefix}-zipper-mouth:before {content: $fi-zipper-mouth}


// Medical
.{$fi-css-prefix}-aids:before {content: $aids}
.{$fi-css-prefix}-ambulance:before {content: $ambulance}
.{$fi-css-prefix}-bandage:before {content: $bandage}
.{$fi-css-prefix}-bed-patient:before {content: $bed-patient}
.{$fi-css-prefix}-blood-drop:before {content: $blood-drop}
.{$fi-css-prefix}-blood-test:before {content: $blood-test}
.{$fi-css-prefix}-blood:before {content: $blood}
.{$fi-css-prefix}-dna:before {content: $dna}
.{$fi-css-prefix}-doctor:before {content: $doctor}
.{$fi-css-prefix}-drug-pack:before {content: $drug-pack}
.{$fi-css-prefix}-first-aid-alt:before {content: $first-aid-alt}
.{$fi-css-prefix}-heart-alt:before {content: $heart-alt}
.{$fi-css-prefix}-heartbeat-alt:before {content: $heartbeat-alt}
.{$fi-css-prefix}-heartbeat:before {content: $heartbeat}
.{$fi-css-prefix}-helicopter-ambulance:before {content: $helicopter-ambulance}
.{$fi-css-prefix}-hospital:before {content: $hospital}
.{$fi-css-prefix}-injection-syringe:before {content: $injection-syringe}
.{$fi-css-prefix}-laboratory:before {content: $laboratory}
.{$fi-css-prefix}-nurse:before {content: $nurse}
.{$fi-css-prefix}-nursing-home:before {content: $nursing-home}
.{$fi-css-prefix}-paralysis-disability:before {content: $paralysis-disability}
.{$fi-css-prefix}-pills:before {content: $pills}
.{$fi-css-prefix}-prescription:before {content: $prescription}
.{$fi-css-prefix}-pulse-alt:before {content: $pulse-alt}
.{$fi-css-prefix}-stethoscope:before {content: $stethoscope}
.{$fi-css-prefix}-surgical-knife:before {content: $surgical-knife}
.{$fi-css-prefix}-tablets:before {content: $tablets}
.{$fi-css-prefix}-test-bottle:before {content: $test-bottle}
.{$fi-css-prefix}-test-tube-alt:before {content: $test-tube-alt}
.{$fi-css-prefix}-test-tube:before {content: $test-tube}
.{$fi-css-prefix}-thermometer-alt:before {content: $thermometer-alt}


// Snowflake
.{$fi-css-prefix}-snowflake:before {content: $fi-snowflake}
.{$fi-css-prefix}-snowflake-1:before {content: $fi-snowflake-1}
.{$fi-css-prefix}-snowflake-2:before {content: $fi-snowflake-2}
.{$fi-css-prefix}-snowflake-3:before {content: $fi-snowflake-3}
.{$fi-css-prefix}-snowflake-4:before {content: $fi-snowflake-4}
.{$fi-css-prefix}-snowflake-5:before {content: $fi-snowflake-5}
.{$fi-css-prefix}-snowflake-6:before {content: $fi-snowflake-6}
.{$fi-css-prefix}-snowflake-7:before {content: $fi-snowflake-7}
.{$fi-css-prefix}-snowflake-8:before {content: $fi-snowflake-8}


// Other
.{$fi-css-prefix}-curve:before {content: $fi-curve}
.{$fi-css-prefix}-ellipse:before {content: $fi-ellipse}
.{$fi-css-prefix}-rectangle:before {content: $fi-rectangle}
.{$fi-css-prefix}-shield:before {content: $fi-shield}
