// Definitions
.#{$fi-css-prefix} {
    display: inline-block;
    font-style: normal;
    font-weight: normal; 
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: $fi-font-line-height;
    font-family: $fi-font-name;
    font-size: $fi-font-size;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@mixin fi-icon-r($degrees, $rotation) {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation})";
    transform: rotate($degrees);
}

@mixin fi-icon-f($horiz, $vert, $rotation) {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation}, mirror=1)";
    transform: scale($horiz, $vert);
}
