// Font
@font-face {
    font-family: '#{$fi-font-name}';
    src : url('#{$fi-font-path}fontisto/fontisto.eot?v=#{$fi-font-version}');
    src : url('#{$fi-font-path}fontisto/fontisto.eot?#iefix&v=#{$fi-font-version}') format('embedded-opentype'),
    url('#{$fi-font-path}fontisto/fontisto.ttf?v=#{$fi-font-version}') format('truetype'),
    url('#{$fi-font-path}fontisto/fontisto.woff?v=#{$fi-font-version}') format('woff'),
    url('#{$fi-font-path}fontisto/fontisto.svg?v=#{$fi-font-version}#fontisto') format('svg');
}

