/* fontisto icon list*/

.#{$fi-css-prefix}-shopping-bag-1:before {content: unicode($fi-shopping-bag-1);}
.#{$fi-css-prefix}-shopping-bag:before {content: unicode($fi-shopping-bag);}
.#{$fi-css-prefix}-shopping-barcode:before {content: unicode($fi-shopping-barcode);}
.#{$fi-css-prefix}-shopping-basket-add:before {content: unicode($fi-shopping-basket-add);}
.#{$fi-css-prefix}-shopping-basket-remove:before {content: unicode($fi-shopping-basket-remove);}
.#{$fi-css-prefix}-shopping-basket:before {content: unicode($fi-shopping-basket);}
.#{$fi-css-prefix}-shopping-package:before {content: unicode($fi-shopping-package);}
.#{$fi-css-prefix}-shopping-pos-machine:before {content: unicode($fi-shopping-pos-machine);}
.#{$fi-css-prefix}-shopping-sale:before {content: unicode($fi-shopping-sale);}
.#{$fi-css-prefix}-shopping-store:before {content: unicode($fi-shopping-store)};

.#{$fi-css-prefix}-confused:before {content: unicode($fi-confused);}
.#{$fi-css-prefix}-dizzy:before {content: unicode($fi-dizzy);}
.#{$fi-css-prefix}-expressionless:before {content: unicode($fi-expressionless);}
.#{$fi-css-prefix}-frowning:before {content: unicode($fi-frowning);}
.#{$fi-css-prefix}-heart-eyes:before {content: unicode($fi-heart-eyes);}
.#{$fi-css-prefix}-laughing:before {content: unicode($fi-laughing);}
.#{$fi-css-prefix}-mad:before {content: unicode($fi-mad);}
.#{$fi-css-prefix}-nervous:before {content: unicode($fi-nervous);}
.#{$fi-css-prefix}-neutral:before {content: unicode($fi-neutral);}
.#{$fi-css-prefix}-open-mouth:before {content: unicode($fi-open-mouth);}
.#{$fi-css-prefix}-rage:before {content: unicode($fi-rage);}
.#{$fi-css-prefix}-slightly-smile:before {content: unicode($fi-slightly-smile);}
.#{$fi-css-prefix}-smiley:before {content: unicode($fi-smiley);}
.#{$fi-css-prefix}-smiling:before {content: unicode($fi-smiling);}
.#{$fi-css-prefix}-stuck-out-tongue:before {content: unicode($fi-stuck-out-tongue);}
.#{$fi-css-prefix}-sunglasses:before {content: unicode($fi-sunglasses);}
.#{$fi-css-prefix}-surprised:before {content: unicode($fi-surprised);}
.#{$fi-css-prefix}-tongue:before {content: unicode($fi-tongue);}
.#{$fi-css-prefix}-wink:before {content: unicode($fi-wink);}
.#{$fi-css-prefix}-zipper-mouth:before {content: unicode($fi-zipper-mouth);}

.#{$fi-css-prefix}-cloud-down:before {content: unicode($fi-cloud-down);}
.#{$fi-css-prefix}-cloud-refresh:before {content: unicode($fi-cloud-refresh);}
.#{$fi-css-prefix}-cloud-up:before {content: unicode($fi-cloud-up);}
.#{$fi-css-prefix}-cloudy-gusts:before {content: unicode($fi-cloudy-gusts);}
.#{$fi-css-prefix}-cloudy:before {content: unicode($fi-cloudy);}
.#{$fi-css-prefix}-compass:before {content: unicode($fi-compass);}
.#{$fi-css-prefix}-day-cloudy:before {content: unicode($fi-day-cloudy);}
.#{$fi-css-prefix}-day-haze:before {content: unicode($fi-day-haze);}
.#{$fi-css-prefix}-day-lightning:before {content: unicode($fi-day-lightning);}
.#{$fi-css-prefix}-day-rain:before {content: unicode($fi-day-rain);}
.#{$fi-css-prefix}-day-snow:before {content: unicode($fi-day-snow);}
.#{$fi-css-prefix}-day-sunny:before {content: unicode($fi-day-sunny);}
.#{$fi-css-prefix}-fog:before {content: unicode($fi-fog);}
.#{$fi-css-prefix}-horizon-alt:before {content: unicode($fi-horizon-alt);}
.#{$fi-css-prefix}-horizon:before {content: unicode($fi-horizon);}
.#{$fi-css-prefix}-lightning:before {content: unicode($fi-lightning);}
.#{$fi-css-prefix}-lightnings:before {content: unicode($fi-lightnings);}
.#{$fi-css-prefix}-night-alt-cloudy:before {content: unicode($fi-night-alt-cloudy);}
.#{$fi-css-prefix}-night-alt-lightning:before {content: unicode($fi-night-alt-lightning);}
.#{$fi-css-prefix}-night-alt-rain:before {content: unicode($fi-night-alt-rain);}
.#{$fi-css-prefix}-night-alt-snow:before {content: unicode($fi-night-alt-snow);}
.#{$fi-css-prefix}-night-clear:before {content: unicode($fi-night-clear);}
.#{$fi-css-prefix}-rain:before {content: unicode($fi-rain);}
.#{$fi-css-prefix}-rainbow:before {content: unicode($fi-rainbow);}
.#{$fi-css-prefix}-rains:before {content: unicode($fi-rains);}
.#{$fi-css-prefix}-snow:before {content: unicode($fi-snow);}
.#{$fi-css-prefix}-snows:before {content: unicode($fi-snows);}
.#{$fi-css-prefix}-thermometer:before {content: unicode($fi-thermometer);}
.#{$fi-css-prefix}-umbrella:before {content: unicode($fi-umbrella);}
.#{$fi-css-prefix}-wind:before {content: unicode($fi-wind);}

.#{$fi-css-prefix}-bold:before {content: unicode($fi-bold);} 
.#{$fi-css-prefix}-broken-link:before {content: unicode($fi-broken-link);} 
.#{$fi-css-prefix}-center-align:before {content: unicode($fi-center-align);} 
.#{$fi-css-prefix}-close:before {content: unicode($fi-close);} 
.#{$fi-css-prefix}-columns:before {content: unicode($fi-columns);} 
.#{$fi-css-prefix}-copy:before {content: unicode($fi-copy);} 
.#{$fi-css-prefix}-eraser:before {content: unicode($fi-eraser);} 
.#{$fi-css-prefix}-export:before {content: unicode($fi-export);} 
.#{$fi-css-prefix}-file-1:before {content: unicode($fi-file-1);} 
.#{$fi-css-prefix}-file-2:before {content: unicode($fi-file-2);} 
.#{$fi-css-prefix}-folder:before {content: unicode($fi-folder);} 
.#{$fi-css-prefix}-font:before {content: unicode($fi-font);} 
.#{$fi-css-prefix}-import:before {content: unicode($fi-import);} 
.#{$fi-css-prefix}-indent:before {content: unicode($fi-indent);} 
.#{$fi-css-prefix}-italic:before {content: unicode($fi-italic);} 
.#{$fi-css-prefix}-justify:before {content: unicode($fi-justify);} 
.#{$fi-css-prefix}-left-align:before {content: unicode($fi-left-align);} 
.#{$fi-css-prefix}-link2:before {content: unicode($fi-link2);} 
.#{$fi-css-prefix}-list-1:before {content: unicode($fi-list-1);} 
.#{$fi-css-prefix}-list-2:before {content: unicode($fi-list-2);} 
.#{$fi-css-prefix}-outdent:before {content: unicode($fi-outdent);} 
.#{$fi-css-prefix}-paperclip:before {content: unicode($fi-paperclip);} 
.#{$fi-css-prefix}-paragraph:before {content: unicode($fi-paragraph);} 
.#{$fi-css-prefix}-paste:before {content: unicode($fi-paste);} 
.#{$fi-css-prefix}-preview:before {content: unicode($fi-preview);} 
.#{$fi-css-prefix}-print2:before {content: unicode($fi-print2);} 
.#{$fi-css-prefix}-redo:before {content: unicode($fi-redo);} 
.#{$fi-css-prefix}-right-align:before {content: unicode($fi-right-align);} 
.#{$fi-css-prefix}-save-1:before {content: unicode($fi-save-1);} 
.#{$fi-css-prefix}-save:before {content: unicode($fi-save);} 
.#{$fi-css-prefix}-scissors2:before {content: unicode($fi-scissors2);} 
.#{$fi-css-prefix}-strikethrough:before {content: unicode($fi-strikethrough);} 
.#{$fi-css-prefix}-subscript:before {content: unicode($fi-subscript);} 
.#{$fi-css-prefix}-superscript:before {content: unicode($fi-superscript);} 
.#{$fi-css-prefix}-table-1:before {content: unicode($fi-table-1);} 
.#{$fi-css-prefix}-table-2:before {content: unicode($fi-table-2);} 
.#{$fi-css-prefix}-text-height:before {content: unicode($fi-text-height);} 
.#{$fi-css-prefix}-text-width:before {content: unicode($fi-text-width);} 
.#{$fi-css-prefix}-underline:before {content: unicode($fi-underline);} 
.#{$fi-css-prefix}-undo:before {content: unicode($fi-undo);} 
.#{$fi-css-prefix}-curve:before {content: unicode($fi-curve);}

.#{$fi-css-prefix}-curve:before {content: unicode($fi-curve);}
.#{$fi-css-prefix}-ellipse:before {content: unicode($fi-ellipse);}
.#{$fi-css-prefix}-rectangle:before {content: unicode($fi-rectangle);}
.#{$fi-css-prefix}-shield:before {content: unicode($fi-shield);}
.#{$fi-css-prefix}-audio-description:before {content: unicode($fi-audio-description);}
.#{$fi-css-prefix}-blind:before {content: unicode($fi-blind);}
.#{$fi-css-prefix}-braille:before {content: unicode($fi-braille);}
.#{$fi-css-prefix}-deaf:before {content: unicode($fi-deaf);}
.#{$fi-css-prefix}-fa-american-sign-language-interpreting:before {content: unicode($fi-fa-american-sign-language-interpreting);}
.#{$fi-css-prefix}-if_question-circle_383085:before {content: unicode($fi-if_question-circle_383085);}
.#{$fi-css-prefix}-low-vision:before {content: unicode($fi-low-vision);}
.#{$fi-css-prefix}-tty:before {content: unicode($fi-tty);}
.#{$fi-css-prefix}-universal-acces:before {content: unicode($fi-universal-acces);}
.#{$fi-css-prefix}-wheelchair:before {content: unicode($fi-wheelchair);}
.#{$fi-css-prefix}-500px:before {content: unicode($fi-500px);}
.#{$fi-css-prefix}-amazon:before {content: unicode($fi-amazon);}
.#{$fi-css-prefix}-ampproject:before {content: unicode($fi-ampproject);}
.#{$fi-css-prefix}-android:before {content: unicode($fi-android);}
.#{$fi-css-prefix}-angularjs:before {content: unicode($fi-angularjs);}
.#{$fi-css-prefix}-apple:before {content: unicode($fi-apple);}
.#{$fi-css-prefix}-behance:before {content: unicode($fi-behance);}
.#{$fi-css-prefix}-bitbucket:before {content: unicode($fi-bitbucket);}
.#{$fi-css-prefix}-bluetooth-b:before {content: unicode($fi-bluetooth-b);}
.#{$fi-css-prefix}-cloudflare:before {content: unicode($fi-cloudflare);}
.#{$fi-css-prefix}-codepen:before {content: unicode($fi-codepen);}
.#{$fi-css-prefix}-css3:before {content: unicode($fi-css3);}
.#{$fi-css-prefix}-dribbble:before {content: unicode($fi-dribbble);}
.#{$fi-css-prefix}-dropbox:before {content: unicode($fi-dropbox);}
.#{$fi-css-prefix}-facebook:before {content: unicode($fi-facebook);}
.#{$fi-css-prefix}-flickr:before {content: unicode($fi-flickr);}
.#{$fi-css-prefix}-foursquare:before {content: unicode($fi-foursquare);}
.#{$fi-css-prefix}-git:before {content: unicode($fi-git);}
.#{$fi-css-prefix}-github:before {content: unicode($fi-github);}
.#{$fi-css-prefix}-google-plus:before {content: unicode($fi-google-plus);}
.#{$fi-css-prefix}-google:before {content: unicode($fi-google);}
.#{$fi-css-prefix}-hangout:before {content: unicode($fi-hangout);}
.#{$fi-css-prefix}-houzz:before {content: unicode($fi-houzz);}
.#{$fi-css-prefix}-html5:before {content: unicode($fi-html5);}
.#{$fi-css-prefix}-instagram:before {content: unicode($fi-instagram);}
.#{$fi-css-prefix}-java:before {content: unicode($fi-java);}
.#{$fi-css-prefix}-jquery:before {content: unicode($fi-jquery);}
.#{$fi-css-prefix}-jsfiddle:before {content: unicode($fi-jsfiddle);}
.#{$fi-css-prefix}-linkedin:before {content: unicode($fi-linkedin);}
.#{$fi-css-prefix}-linux:before {content: unicode($fi-linux);}
.#{$fi-css-prefix}-magento:before {content: unicode($fi-magento);}
.#{$fi-css-prefix}-maxcdn:before {content: unicode($fi-maxcdn);}
.#{$fi-css-prefix}-medium:before {content: unicode($fi-medium);}
.#{$fi-css-prefix}-meetup:before {content: unicode($fi-meetup);}
.#{$fi-css-prefix}-nodejs:before {content: unicode($fi-nodejs);}
.#{$fi-css-prefix}-opencart:before {content: unicode($fi-opencart);}
.#{$fi-css-prefix}-pinterest:before {content: unicode($fi-pinterest);}
.#{$fi-css-prefix}-playstation:before {content: unicode($fi-playstation);}
.#{$fi-css-prefix}-python:before {content: unicode($fi-python);}
.#{$fi-css-prefix}-react:before {content: unicode($fi-react);}
.#{$fi-css-prefix}-reddit:before {content: unicode($fi-reddit);}
.#{$fi-css-prefix}-ruby:before {content: unicode($fi-ruby);}
.#{$fi-css-prefix}-sass:before {content: unicode($fi-sass);}
.#{$fi-css-prefix}-skype:before {content: unicode($fi-skype);}
.#{$fi-css-prefix}-slack:before {content: unicode($fi-slack);}
.#{$fi-css-prefix}-snapchat:before {content: unicode($fi-snapchat);}
.#{$fi-css-prefix}-soundcloud:before {content: unicode($fi-soundcloud);}
.#{$fi-css-prefix}-spotify:before {content: unicode($fi-spotify);}
.#{$fi-css-prefix}-stack-overflow:before {content: unicode($fi-stack-overflow);}
.#{$fi-css-prefix}-steam:before {content: unicode($fi-steam);}
.#{$fi-css-prefix}-stumbleupon:before {content: unicode($fi-stumbleupon);}
.#{$fi-css-prefix}-svn:before {content: unicode($fi-svn);}
.#{$fi-css-prefix}-swarm:before {content: unicode($fi-swarm);}
.#{$fi-css-prefix}-tripadvisor:before {content: unicode($fi-tripadvisor);}
.#{$fi-css-prefix}-tumblr:before {content: unicode($fi-tumblr);}
.#{$fi-css-prefix}-twitch:before {content: unicode($fi-twitch);}
.#{$fi-css-prefix}-twitter:before {content: unicode($fi-twitter);}
.#{$fi-css-prefix}-vimeo:before {content: unicode($fi-vimeo);}
.#{$fi-css-prefix}-wetransfer:before {content: unicode($fi-wetransfer);}
.#{$fi-css-prefix}-whatsapp:before {content: unicode($fi-whatsapp);}
.#{$fi-css-prefix}-wifi-logo:before {content: unicode($fi-wifi-logo);}
.#{$fi-css-prefix}-wikipedia:before {content: unicode($fi-wikipedia);}
.#{$fi-css-prefix}-windows:before {content: unicode($fi-windows);}
.#{$fi-css-prefix}-wordpress:before {content: unicode($fi-wordpress);}
.#{$fi-css-prefix}-xbox:before {content: unicode($fi-xbox);}
.#{$fi-css-prefix}-yahoo:before {content: unicode($fi-yahoo);}
.#{$fi-css-prefix}-yelp:before {content: unicode($fi-yelp);}
.#{$fi-css-prefix}-youtube-play:before {content: unicode($fi-youtube-play);}
.#{$fi-css-prefix}-chrome:before {content: unicode($fi-chrome);}
.#{$fi-css-prefix}-edge:before {content: unicode($fi-edge);}
.#{$fi-css-prefix}-firefox:before {content: unicode($fi-firefox);}
.#{$fi-css-prefix}-internet-explorer:before {content: unicode($fi-internet-explorer);}
.#{$fi-css-prefix}-opera:before {content: unicode($fi-opera);}
.#{$fi-css-prefix}-safari:before {content: unicode($fi-safari);}
.#{$fi-css-prefix}-area-chart:before {content: unicode($fi-area-chart);}
.#{$fi-css-prefix}-bar-chart:before {content: unicode($fi-bar-chart);}
.#{$fi-css-prefix}-line-chart:before {content: unicode($fi-line-chart);}
.#{$fi-css-prefix}-pie-chart-1:before {content: unicode($fi-pie-chart-1);}
.#{$fi-css-prefix}-pie-chart-2:before {content: unicode($fi-pie-chart-2);}
.#{$fi-css-prefix}-bitcoin:before {content: unicode($fi-bitcoin);}
.#{$fi-css-prefix}-dollar:before {content: unicode($fi-dollar);}
.#{$fi-css-prefix}-euro:before {content: unicode($fi-euro);}
.#{$fi-css-prefix}-gbp:before {content: unicode($fi-gbp);}
.#{$fi-css-prefix}-gg:before {content: unicode($fi-gg);}
.#{$fi-css-prefix}-ils:before {content: unicode($fi-ils);}
.#{$fi-css-prefix}-inr:before {content: unicode($fi-inr);}
.#{$fi-css-prefix}-krw:before {content: unicode($fi-krw);}
.#{$fi-css-prefix}-rouble:before {content: unicode($fi-rouble);}
.#{$fi-css-prefix}-tl:before {content: unicode($fi-tl);}
.#{$fi-css-prefix}-yen:before {content: unicode($fi-yen);}
.#{$fi-css-prefix}-angle-dobule-down:before {content: unicode($fi-angle-dobule-down);}
.#{$fi-css-prefix}-angle-dobule-left:before {content: unicode($fi-angle-dobule-left);}
.#{$fi-css-prefix}-angle-dobule-right:before {content: unicode($fi-angle-dobule-right);}
.#{$fi-css-prefix}-angle-dobule-up:before {content: unicode($fi-angle-dobule-up);}
.#{$fi-css-prefix}-angle-down:before {content: unicode($fi-angle-down);}
.#{$fi-css-prefix}-angle-left:before {content: unicode($fi-angle-left);}
.#{$fi-css-prefix}-angle-right:before {content: unicode($fi-angle-right);}
.#{$fi-css-prefix}-angle-up:before {content: unicode($fi-angle-up);}
.#{$fi-css-prefix}-arrow-down-l:before {content: unicode($fi-arrow-down-l);}
.#{$fi-css-prefix}-arrow-down:before {content: unicode($fi-arrow-down);}
.#{$fi-css-prefix}-arrow-expand:before {content: unicode($fi-arrow-expand);}
.#{$fi-css-prefix}-arrow-h:before {content: unicode($fi-arrow-h);}
.#{$fi-css-prefix}-arrow-left-l:before {content: unicode($fi-arrow-left-l);}
.#{$fi-css-prefix}-arrow-left:before {content: unicode($fi-arrow-left);}
.#{$fi-css-prefix}-arrow-move:before {content: unicode($fi-arrow-move);}
.#{$fi-css-prefix}-arrow-resize:before {content: unicode($fi-arrow-resize);}
.#{$fi-css-prefix}-arrow-return-left:before {content: unicode($fi-arrow-return-left);}
.#{$fi-css-prefix}-arrow-return-right:before {content: unicode($fi-arrow-return-right);}
.#{$fi-css-prefix}-arrow-right-l:before {content: unicode($fi-arrow-right-l);}
.#{$fi-css-prefix}-arrow-right:before {content: unicode($fi-arrow-right);}
.#{$fi-css-prefix}-arrow-swap:before {content: unicode($fi-arrow-swap);}
.#{$fi-css-prefix}-arrow-up-l:before {content: unicode($fi-arrow-up-l);}
.#{$fi-css-prefix}-arrow-up:before {content: unicode($fi-arrow-up);}
.#{$fi-css-prefix}-arrow-v:before {content: unicode($fi-arrow-v);}
.#{$fi-css-prefix}-caret-down:before {content: unicode($fi-caret-down);}
.#{$fi-css-prefix}-caret-left:before {content: unicode($fi-caret-left);}
.#{$fi-css-prefix}-caret-right:before {content: unicode($fi-caret-right);}
.#{$fi-css-prefix}-caret-up:before {content: unicode($fi-caret-up);}
.#{$fi-css-prefix}-fi:before {content: unicode($fi-fi);}
.#{$fi-css-prefix}-fontisto:before {content: unicode($fi-fontisto);}
.#{$fi-css-prefix}-checkbox-active:before {content: unicode($fi-checkbox-active);}
.#{$fi-css-prefix}-checkbox-passive:before {content: unicode($fi-checkbox-passive);}
.#{$fi-css-prefix}-radio-btn-active:before {content: unicode($fi-radio-btn-active);}
.#{$fi-css-prefix}-radio-btn-passive:before {content: unicode($fi-radio-btn-passive);}
.#{$fi-css-prefix}-genderless:before {content: unicode($fi-genderless);}
.#{$fi-css-prefix}-intersex:before {content: unicode($fi-intersex);}
.#{$fi-css-prefix}-mars-double:before {content: unicode($fi-mars-double);}
.#{$fi-css-prefix}-mars-stroke-h:before {content: unicode($fi-mars-stroke-h);}
.#{$fi-css-prefix}-mars-stroke-v:before {content: unicode($fi-mars-stroke-v);}
.#{$fi-css-prefix}-mars-stroke:before {content: unicode($fi-mars-stroke);}
.#{$fi-css-prefix}-mars:before {content: unicode($fi-mars);}
.#{$fi-css-prefix}-mercury:before {content: unicode($fi-mercury);}
.#{$fi-css-prefix}-neuter:before {content: unicode($fi-neuter);}
.#{$fi-css-prefix}-transgender-alt:before {content: unicode($fi-transgender-alt);}
.#{$fi-css-prefix}-transgender:before {content: unicode($fi-transgender);}
.#{$fi-css-prefix}-venus-double:before {content: unicode($fi-venus-double);}
.#{$fi-css-prefix}-venus-mars:before {content: unicode($fi-venus-mars);}
.#{$fi-css-prefix}-venus:before {content: unicode($fi-venus);}
.#{$fi-css-prefix}-dislike:before {content: unicode($fi-dislike);}
.#{$fi-css-prefix}-like:before {content: unicode($fi-like);}
.#{$fi-css-prefix}-camera:before {content: unicode($fi-camera);}
.#{$fi-css-prefix}-clock:before {content: unicode($fi-clock);}
.#{$fi-css-prefix}-close-a:before {content: unicode($fi-close-a);}
.#{$fi-css-prefix}-code:before {content: unicode($fi-code);}
.#{$fi-css-prefix}-comment:before {content: unicode($fi-comment);}
.#{$fi-css-prefix}-commenting:before {content: unicode($fi-commenting);}
.#{$fi-css-prefix}-comments:before {content: unicode($fi-comments);}
.#{$fi-css-prefix}-crop:before {content: unicode($fi-crop);}
.#{$fi-css-prefix}-cursor:before {content: unicode($fi-cursor);}
.#{$fi-css-prefix}-database:before {content: unicode($fi-database);}
.#{$fi-css-prefix}-date:before {content: unicode($fi-date);}
.#{$fi-css-prefix}-earth:before {content: unicode($fi-earth);}
.#{$fi-css-prefix}-email:before {content: unicode($fi-email);}
.#{$fi-css-prefix}-eye:before {content: unicode($fi-eye);}
.#{$fi-css-prefix}-famale:before {content: unicode($fi-famale);}
.#{$fi-css-prefix}-favorite:before {content: unicode($fi-favorite);}
.#{$fi-css-prefix}-filter:before {content: unicode($fi-filter);}
.#{$fi-css-prefix}-fire:before {content: unicode($fi-fire);}
.#{$fi-css-prefix}-flag:before {content: unicode($fi-flag);}
.#{$fi-css-prefix}-flash:before {content: unicode($fi-flash);}
.#{$fi-css-prefix}-home:before {content: unicode($fi-home);}
.#{$fi-css-prefix}-link:before {content: unicode($fi-link);}
.#{$fi-css-prefix}-locked:before {content: unicode($fi-locked);}
.#{$fi-css-prefix}-male:before {content: unicode($fi-male);}
.#{$fi-css-prefix}-minus-a:before {content: unicode($fi-minus-a);}
.#{$fi-css-prefix}-more-v-a:before {content: unicode($fi-more-v-a);}
.#{$fi-css-prefix}-more-v:before {content: unicode($fi-more-v);}
.#{$fi-css-prefix}-move-h-a:before {content: unicode($fi-move-h-a);}
.#{$fi-css-prefix}-move-h:before {content: unicode($fi-move-h);}
.#{$fi-css-prefix}-nav-icon-a:before {content: unicode($fi-nav-icon-a);}
.#{$fi-css-prefix}-nav-icon-grid-a:before {content: unicode($fi-nav-icon-grid-a);}
.#{$fi-css-prefix}-nav-icon-grid:before {content: unicode($fi-nav-icon-grid);}
.#{$fi-css-prefix}-nav-icon-list-a:before {content: unicode($fi-nav-icon-list-a);}
.#{$fi-css-prefix}-nav-icon-list:before {content: unicode($fi-nav-icon-list);}
.#{$fi-css-prefix}-nav-icon:before {content: unicode($fi-nav-icon);}
.#{$fi-css-prefix}-navigate:before {content: unicode($fi-navigate);}
.#{$fi-css-prefix}-paper-plane:before {content: unicode($fi-paper-plane);}
.#{$fi-css-prefix}-person:before {content: unicode($fi-person);}
.#{$fi-css-prefix}-persons:before {content: unicode($fi-persons);}
.#{$fi-css-prefix}-picture:before {content: unicode($fi-picture);}
.#{$fi-css-prefix}-plus-a:before {content: unicode($fi-plus-a);}
.#{$fi-css-prefix}-print:before {content: unicode($fi-print);}
.#{$fi-css-prefix}-quote-a-left:before {content: unicode($fi-quote-a-left);}
.#{$fi-css-prefix}-quote-a-right:before {content: unicode($fi-quote-a-right);}
.#{$fi-css-prefix}-quote-left:before {content: unicode($fi-quote-left);}
.#{$fi-css-prefix}-quote-right:before {content: unicode($fi-quote-right);}
.#{$fi-css-prefix}-reply:before {content: unicode($fi-reply);}
.#{$fi-css-prefix}-rss:before {content: unicode($fi-rss);}
.#{$fi-css-prefix}-scissors:before {content: unicode($fi-scissors);}
.#{$fi-css-prefix}-share-a:before {content: unicode($fi-share-a);}
.#{$fi-css-prefix}-share:before {content: unicode($fi-share);}
.#{$fi-css-prefix}-trash:before {content: unicode($fi-trash);}
.#{$fi-css-prefix}-unlocked:before {content: unicode($fi-unlocked);}
.#{$fi-css-prefix}-usb:before {content: unicode($fi-usb);}
.#{$fi-css-prefix}-wifi:before {content: unicode($fi-wifi);}
.#{$fi-css-prefix}-world-o:before {content: unicode($fi-world-o);}
.#{$fi-css-prefix}-world:before {content: unicode($fi-world);}
.#{$fi-css-prefix}-zoom:before {content: unicode($fi-zoom);}
.#{$fi-css-prefix}-adjust:before {content: unicode($fi-adjust);}
.#{$fi-css-prefix}-recycle:before {content: unicode($fi-recycle);}

.#{$fi-css-prefix}-american-express:before {content: unicode($fi-american-express);}
.#{$fi-css-prefix}-credit-card:before {content: unicode($fi-credit-card);}
.#{$fi-css-prefix}-google-wallet:before {content: unicode($fi-google-wallet);}
.#{$fi-css-prefix}-iyzigo:before {content: unicode($fi-iyzigo);}
.#{$fi-css-prefix}-mastercard:before {content: unicode($fi-mastercard);}
.#{$fi-css-prefix}-paypal-p:before {content: unicode($fi-paypal-p);}
.#{$fi-css-prefix}-paypal:before {content: unicode($fi-paypal);}
.#{$fi-css-prefix}-payu:before {content: unicode($fi-payu);}
.#{$fi-css-prefix}-troy:before {content: unicode($fi-troy);}
.#{$fi-css-prefix}-visa:before {content: unicode($fi-visa);}
.#{$fi-css-prefix}-dinners-club:before {content: unicode($fi-dinners-club);}
.#{$fi-css-prefix}-apple-pay:before {content: unicode($fi-apple-pay);}
.#{$fi-css-prefix}-discover:before {content: unicode($fi-discover);}
.#{$fi-css-prefix}-jcb:before {content: unicode($fi-jcb);}

.#{$fi-css-prefix}-backward:before {content: unicode($fi-backward);}
.#{$fi-css-prefix}-eject:before {content: unicode($fi-eject);}
.#{$fi-css-prefix}-equalizer:before {content: unicode($fi-equalizer);}
.#{$fi-css-prefix}-forward:before {content: unicode($fi-forward);}
.#{$fi-css-prefix}-headphone:before {content: unicode($fi-headphone);}
.#{$fi-css-prefix}-heart:before {content: unicode($fi-heart);}
.#{$fi-css-prefix}-mic:before {content: unicode($fi-mic);}
.#{$fi-css-prefix}-music-note:before {content: unicode($fi-music-note);}
.#{$fi-css-prefix}-pause:before {content: unicode($fi-pause);}
.#{$fi-css-prefix}-play-list:before {content: unicode($fi-play-list);}
.#{$fi-css-prefix}-play:before {content: unicode($fi-play);}
.#{$fi-css-prefix}-player-settings:before {content: unicode($fi-player-settings);}
.#{$fi-css-prefix}-podcast:before {content: unicode($fi-podcast);}
.#{$fi-css-prefix}-random:before {content: unicode($fi-random);}
.#{$fi-css-prefix}-record:before {content: unicode($fi-record);}
.#{$fi-css-prefix}-star:before {content: unicode($fi-star);}
.#{$fi-css-prefix}-step-backwrad:before {content: unicode($fi-step-backwrad);}
.#{$fi-css-prefix}-step-forward:before {content: unicode($fi-step-forward);}
.#{$fi-css-prefix}-stop:before {content: unicode($fi-stop);}
.#{$fi-css-prefix}-volume-down:before {content: unicode($fi-volume-down);}
.#{$fi-css-prefix}-volume-mute:before {content: unicode($fi-volume-mute);}
.#{$fi-css-prefix}-volume-off:before {content: unicode($fi-volume-off);}
.#{$fi-css-prefix}-volume-up:before {content: unicode($fi-volume-up);}
.#{$fi-css-prefix}-airplay:before {content: unicode($fi-airplay);}

.#{$fi-css-prefix}-circle-o-notch:before {content: unicode($fi-circle-o-notch);}
.#{$fi-css-prefix}-propeller-1:before {content: unicode($fi-propeller-1);}
.#{$fi-css-prefix}-propeller-2:before {content: unicode($fi-propeller-2);}
.#{$fi-css-prefix}-propeller-3:before {content: unicode($fi-propeller-3);}
.#{$fi-css-prefix}-propeller-4:before {content: unicode($fi-propeller-4);}
.#{$fi-css-prefix}-spinner-cog:before {content: unicode($fi-spinner-cog);}
.#{$fi-css-prefix}-spinner-fidget:before {content: unicode($fi-spinner-fidget);}
.#{$fi-css-prefix}-spinner-refresh:before {content: unicode($fi-spinner-refresh);}
.#{$fi-css-prefix}-spinner-rotate-forward:before {content: unicode($fi-spinner-rotate-forward);}
.#{$fi-css-prefix}-spinner:before {content: unicode($fi-spinner);}

.#{$fi-css-prefix}-automobile:before {content: unicode($fi-automobile);}
.#{$fi-css-prefix}-bicycle:before {content: unicode($fi-bicycle);}
.#{$fi-css-prefix}-bus:before {content: unicode($fi-bus);}
.#{$fi-css-prefix}-car:before {content: unicode($fi-car);}
.#{$fi-css-prefix}-helicopter:before {content: unicode($fi-helicopter);}
.#{$fi-css-prefix}-metro:before {content: unicode($fi-metro);}
.#{$fi-css-prefix}-motorcycle:before {content: unicode($fi-motorcycle);}
.#{$fi-css-prefix}-plane:before {content: unicode($fi-plane);}
.#{$fi-css-prefix}-rocket:before {content: unicode($fi-rocket);}
.#{$fi-css-prefix}-ship:before {content: unicode($fi-ship);}
.#{$fi-css-prefix}-subway:before {content: unicode($fi-subway);}
.#{$fi-css-prefix}-taxi:before {content: unicode($fi-taxi);}
.#{$fi-css-prefix}-train:before {content: unicode($fi-train);}
.#{$fi-css-prefix}-truck:before {content: unicode($fi-truck);}
.#{$fi-css-prefix}-yacht:before {content: unicode($fi-yacht);}