// Variables
$fi-font-name:              "fontisto";
$fi-css-prefix:             fi !default;
$fi-font-path:              "../../fonts/" !default;
$fi-font-size:              14px !default;
$fi-font-size-int:          14;
$fi-font-line-height:       1 !default;
$fi-font-version:           "1" !default;
$fi-font-border-color:      #dedede !default;
$fi-font-color-inverse:     #fff !default;
$fi-font-li-width:          (30em / 14) !default;
